{% extends 'master/base.html' %}
{% load static %}

{% block content %}

<!-- Start main-content -->
<div class="main-content">
    <!-- Section: home -->
    <section id="home" class="divider">
        <div class="container-fluid p-0">

            <!-- Slider Revolution Start -->
            <div class="rev_slider_wrapper">
                <div class="rev_slider" data-version="5.0">
                    <ul>

                        <!-- image one .start -->

                        <!-- SLIDE 1 -->
                        <li data-index="rs-1" data-transition="random" data-slotamount="7" data-easein="default"
                            data-easeout="default" data-masterspeed="1000" data-thumb="images/bg/bg2.jpg"
                            data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                            data-saveperformance="off" data-title="Intro" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="{% static '/assets/images/bg/doctor_bg1.jpg' %}" alt=""
                                data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"
                                class="rev-slidebg" data-bgparallax="6" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent pl-40 pr-40"
                                id="rs-1-layer-2" data-x="['center']" data-hoffset="['0']" data-y="['middle']"
                                data-voffset="['-45']" data-fontsize="['48']" data-lineheight="['70']" data-width="none"
                                data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                                data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000"
                                data-splitin="none" data-splitout="none" data-responsive_offset="on"
                                style="z-index: 7; white-space: nowrap; font-weight:600; border-radius:45px;">
                                AfyaConnect
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-center text-white bg-dark-transparent-light pl-30 pr-30"
                                id="rs-1-layer-3" data-x="['center']" data-hoffset="['0']" data-y="['middle']"
                                data-voffset="['30']" data-fontsize="['16']" data-lineheight="['28']" data-width="none"
                                data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                                data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400"
                                data-splitin="none" data-splitout="none" data-responsive_offset="on"
                                style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400; border-radius: 45px;">
                                Is improving maternal and child health through creating a direct link between
                                <br />pregnant women and underfives, health care providers and health facilities.</div>

                        </li>

                        <!-- image one .end -->

                        <!-- SLIDE 2 -->
                        <li data-index="rs-2" data-transition="random" data-slotamount="7" data-easein="default"
                            data-easeout="default" data-masterspeed="1000" data-thumb="images/bg/bg1.jpg"
                            data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                            data-saveperformance="off" data-title="Intro" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="{% static '/assets/images/bg/doctor_bg3.jpg' %}" alt=""
                                data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                class="rev-slidebg" data-bgparallax="6" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent pl-15 pr-15"
                                id="rs-2-layer-2" data-x="['left']" data-hoffset="['30']" data-y="['middle']"
                                data-voffset="['-45']" data-fontsize="['48']" data-lineheight="['70']" data-width="none"
                                data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                                data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000"
                                data-splitin="none" data-splitout="none" data-responsive_offset="on"
                                style="z-index: 7; white-space: nowrap; font-weight:600;">AfyaConnect
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-white bg-dark-transparent-light pl-30 pr-30"
                                id="rs-2-layer-3" data-x="['left']" data-hoffset="['30']" data-y="['middle']"
                                data-voffset="['30']" data-fontsize="['16']" data-lineheight="['28']" data-width="none"
                                data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                                data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400"
                                data-splitin="none" data-splitout="none" data-responsive_offset="on"
                                style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">Is
                                improving maternal and child health through creating a direct link between
                                <br />pregnant women and underfives, health care providers and health facilities.</div>

                        </li>

                        <!-- SLIDE 3 -->
                        <li data-index="rs-3" data-transition="random" data-slotamount="7" data-easein="default"
                            data-easeout="default" data-masterspeed="1000" data-thumb="images/bg/bg3.jpg"
                            data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                            data-saveperformance="off" data-title="Intro" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="{% static '/assets/images/bg/doctor_bg4.jpg' %}" alt=""
                                data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"
                                class="rev-slidebg" data-bgparallax="6" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent pl-15 pr-15"
                                id="rs-3-layer-2" data-x="['right']" data-hoffset="['30']" data-y="['middle']"
                                data-voffset="['-45']" data-fontsize="['48']" data-lineheight="['70']" data-width="none"
                                data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                                data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000"
                                data-splitin="none" data-splitout="none" data-responsive_offset="on"
                                style="z-index: 7; white-space: nowrap; font-weight:600;">AfyaConnect
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-right text-white" id="rs-3-layer-3"
                                data-x="['right']" data-hoffset="['30']" data-y="['middle']" data-voffset="['30']"
                                data-fontsize="['16']" data-lineheight="['28']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                                data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400"
                                data-splitin="none" data-splitout="none" data-responsive_offset="on"
                                style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">Is
                                improving maternal and child health through creating a direct link between
                                <br />pregnant women and underfives, health care providers and health facilities.
                            </div>
                        </li>

                    </ul>
                </div><!-- end .rev_slider -->
            </div>
            <!-- end .rev_slider_wrapper -->
            <script>
                $(document).ready(function (e) {
                    var revapi = $(".rev_slider").revolution({
                        sliderType: "standard",
                        sliderLayout: "auto",
                        dottedOverlay: "none",
                        delay: 5000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            },
                            arrows: {
                                style: "gyges",
                                enable: true,
                                hide_onmobile: false,
                                hide_onleave: true,
                                hide_delay: 200,
                                hide_delay_mobile: 1200,
                                tmp: '',
                                left: {
                                    h_align: "left",
                                    v_align: "center",
                                    h_offset: 0,
                                    v_offset: 0
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "center",
                                    h_offset: 0,
                                    v_offset: 0
                                }
                            },
                            bullets: {
                                enable: true,
                                hide_onmobile: true,
                                hide_under: 800,
                                style: "hebe",
                                hide_onleave: false,
                                direction: "horizontal",
                                h_align: "center",
                                v_align: "bottom",
                                h_offset: 0,
                                v_offset: 30,
                                space: 5,
                                tmp: '<span class="tp-bullet-image"></span><span class="tp-bullet-imageoverlay"></span><span class="tp-bullet-title"></span>'
                            }
                        },
                        responsiveLevels: [1240, 1024, 778],
                        visibilityLevels: [1240, 1024, 778],
                        gridwidth: [1170, 1024, 778, 480],
                        gridheight: [655, 768, 960, 720],
                        lazyType: "none",
                        parallax: {
                            origo: "slidercenter",
                            speed: 1000,
                            levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 100, 55],
                            type: "scroll"
                        },
                        shadow: 0,
                        spinner: "off",
                        stopLoop: "on",
                        stopAfterLoops: 0,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        fullScreenAutoWidth: "off",
                        fullScreenAlignForce: "off",
                        fullScreenOffsetContainer: "",
                        fullScreenOffset: "0",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                });
            </script>
            <!-- Slider Revolution Ends -->

        </div>
    </section>

    <!-- Section: Welcome -->
    <section>
        <div class="container pb-0" style="padding-top: 10px;">
            <div class="row">
                <div class="col-md-8 wow fadeInUp animation-delay1">
                    <h3 class="text-gray-silver font-playfair mt-10 mt-sm-30 mb-0">About</h3>
                    <h1 class="text-gray font-playfair mt-0">Afya-connect</h1>
                    <p class="mt-20 justify">
                        Afya is a Swahili word which translates to health. Afyaconnect is an initiative to bring
                        together resources and health care expertise for patients’ benefit and general improvement of
                        quality of life.
                        We use available resources at our disposal to address the sustainable development goal number 3
                        to ensure health for all. Afyaconnect is focused on maternal and child health.
                        The WHO shows that every two minutes a woman dies of pregnancy complication which most of them
                        are preventable and that everyday about 15,000 children die before their fifth birthday. We are
                        driven by this existing challenge and we are motivated to be a part of solution to attain good
                        health for all.
                        Our approach is to reach the community through public health education, outreach programs and
                        empowering remote health care facilities. We also intend to use technology in addressing and
                        solving pressing public health challenges with priority to pregnant women and children.
                    </p>

                </div>
                <div class="col-md-4 wow fadeInRight animation-delay2">
                    <img src="{% static '/assets/images/photos/doctor_asenga.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- mission and vision .start -->
    <section>
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-theme-colored title-border">Our Vission</h4>
                        <p class="mb-20">Afyaconnect envisions a society with reduced maternal and under-fives mortality in Tanzania.
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-theme-colored title-border">Our Mission</h4>
                        <p class="mb-20">We provide public health education, conduct outreach programs, capacity building and adoption of new health care technology to remote health care facilities.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- mission and vision ./end -->

    <!-- Section: Services -->
    <section class="bg-lighter">
        <div class="container">

            <div class="row" style="margin-top:60px;">
                <div class="col-md-7 wow fadeInLeft animation-delay2">
                    <h4 class="font-playfair text-uppercase mt-0">What we do</h4>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis voluptatibus neque, assumenda maxime. Eaque libero unde corrupti deleniti maxime ratione doloremque suscipit perferendis aperiam labore debitis atque odit neque possimus optio quo.</p> -->
                    <div class="row mt-20 mb-sm-30">
                        <div class="col-sm-12">
                            <div class="service-icon-box">
                                <!-- <a href="#" class="pull-left mr-20"><i class="icon-ambulance14"></i></a> -->
                                <div class="mt-5">
                                    <h6 class="mt-5"><i class="fa fa-dot-circle-o"></i> Provision of Maternal and Child Health Education</h6>
                                    <h6 class="mt-5"><i class="fa fa-dot-circle-o"></i> Community Health care outreach programs</h6>
                                    <h6 class="mt-5"><i class="fa fa-dot-circle-o"></i> Health facility empowerment through training,
                                        equipment provision to medical personnel and new technology adoption.</h6>
                                    <!-- <p class="font-11"><em>Lorem ipsum</em></p> -->
                                </div>
                            </div>
                        </div>
                        
                        
                        {% comment %}
                        <div class="col-sm-12">
                            <div class="service-icon-box">
                                <a href="#" class="pull-left mr-20"><i class="icon-illness"></i></a>
                                <div class="">
                                    <h6 class="mt-5">Operation Theater</h6>
                                    <p class="font-11"><em>Lorem ipsum</em></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="service-icon-box"> <a href="#" class="pull-left mr-20"><i
                                        class="icon-stethoscope10"></i></a>
                                <div class="">
                                    <h6 class="mt-5">Outdoor Checkup</h6>
                                    <p class="font-11"><em>Lorem ipsum</em></p>
                                </div>
                            </div>
                        </div>
                        {% endcomment %}
                            
                       
                    </div>
                </div>
                <div class="col-md-5 wow fadeInRight animation-delay2">
                    <div class="thumb">
                        <img alt="" src="{% static '/assets/images/photos/afyaconnect1.jpg' %}" class="img-fullwidth">
                    </div>
                   
                    {% comment %}
                    <h4 class="mt-20">Why Choose Us?</h4>
                    <div class="panel-group accordion style2 mb-0 mt-20" id="accordion2">
                        <div class="panel">
                            <div class="panel-title"> <a href="#accordion21" data-toggle="collapse"
                                    data-parent="#accordion2"> <span class="open-sub"></span> Best Case Strategy </a>
                            </div>
                            <div class="panel-collapse collapse" id="accordion21">
                                <div class="panel-content">
                                    <p>Ut cursus massa at urnaaculis estie. Sed aliquamellus vitae ultrs condmentum leo
                                        massa mollis estiegittis miristum nulla.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a href="#accordion22" data-toggle="collapse"
                                    data-parent="#accordion2"> <span class="open-sub"></span> Review your Case Documents
                                </a> </div>
                            <div class="panel-collapse collapse" id="accordion22">
                                <div class="panel-content">
                                    <p>Ut cursus massa at urnaaculis estie. Sed aliquamellus vitae ultrs condmentum leo
                                        massa mollis estiegittis miristum nulla.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a href="#accordion23" data-toggle="collapse"
                                    data-parent="#accordion2"> <span class="open-sub"></span> Fight for Justice </a>
                            </div>
                            <div class="panel-collapse collapse" id="accordion23">
                                <div class="panel-content">
                                    <p>Ut cursus massa at urnaaculis estie. Sed aliquamellus vitae ultrs condmentum leo
                                        massa mollis estiegittis miristum nulla.</p>
                                </div>
                            </div>
                        </div>
                    </div>    
                    {% endcomment %}
                        
                    
                </div>
            </div>




        </div>
    </section>


    <!-- Section: team -->
    <section>
        <div class="container pb-0">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-uppercase mt-0">Team</h2>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p> -->
                    </div>
                </div>
            </div>

            <div class="section-content">
                <div class="row multi-row-clearfix wow fadeInLeft animation-delay1">
                    <div class="col-sm-6 col-md-4 mb-60 sm-text-center">
                        <div class="team maxwidth400">
                            <div class="thumb"><img class="img-fullwidth"
                                    src="{% static '/assets/images/team/dr_assenga.jpg' %}" alt=""></div>
                            <div class="content border-1px p-15 bg-white-light">
                                <h4 class="name mb-0 mt-0">Joseph Assenga</h4>
                                <h6 class="title mt-0">Founder and Team Lead</h6>
                                <p class="mb-30">Doctor of Medicine, Watson Institute Alumnus, Maternal and Child Health
                                    Advocate.</p>
                                {% comment %}
                                <ul class=" social-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left
                                    flip">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                                <a class="btn btn-theme-colored btn-sm pull-right flip"
                                    href="page-doctor-details.html">view details</a>
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-60 sm-text-center">
                        <div class="team maxwidth400">
                            <div class="thumb"><img class="img-fullwidth"
                                    src="{% static '/assets/images/team/dr_godson.jpg' %}" alt=""></div>
                            <div class="content border-1px p-15 bg-white-light">
                                <h4 class="name mb-0 mt-0">Godson Mbeikya</h4>
                                <h6 class="title mt-0">Co-Founder and Director of operations</h6>
                                <p class="mb-30">Doctor of Medicine, Entrepreneur, Maternal and Child Health Advocate
                                </p>
                                {% comment %}
                                <ul
                                    class="social-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                                <a class="btn btn-theme-colored btn-sm pull-right flip"
                                    href="page-doctor-details.html">view details</a>
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-60 sm-text-center" style="display: none;">
                        <div class="team maxwidth400">
                            <div class="thumb"><img class="img-fullwidth"
                                    src="{% static '/assets/images/team/shadow-user.jpg' %}" alt=""></div>
                            <div class="content border-1px p-15 bg-white-light">
                                <h4 class="name mb-0 mt-0">Daniel Lyatuu</h4>
                                <h6 class="title mt-0">Software developerCTO for Afyaconnect</h6>
                                <p class="mb-30" style="visibility:hidden;">Lorem ipsum dolor sit amet, con amit
                                    sectetur adipisicing elit.</p>
                                {% comment %}
                                <ul
                                    class="social-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                                <a class="btn btn-theme-colored btn-sm pull-right flip"
                                    href="page-doctor-details.html">view details</a>
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-60 sm-text-center">
                        <div class="team maxwidth400">
                            <div class="thumb"><img class="img-fullwidth"
                                    src="{% static '/assets/images/team/hellen.jpg' %}" alt=""></div>
                            <div class="content border-1px p-15 bg-white-light">
                                <h4 class="name mb-0 mt-0">Hellen Koka</h4>
                                <h6 class="title mt-0">Chief Financial Officer</h6>
                                <p class="mb-30">Auditor & Financial advisor <span style="visibility:hidden;"> con amit
                                        sectetur adipisicing elit.</span></p>
                                {% comment %}
                                <ul
                                    class="social-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                                <a class="btn btn-theme-colored btn-sm pull-right flip"
                                    href="page-doctor-details.html">view details</a>
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-60 sm-text-center">
                        <div class="team maxwidth400">
                            <div class="thumb"><img class="img-fullwidth"
                                    src="{% static '/assets/images/team/herieth.jpg' %}" alt=""></div>
                            <div class="content border-1px p-15 bg-white-light">
                                <h4 class="name mb-0 mt-0">Herieth Hyera</h4>
                                <h6 class="title mt-0">Medical Doctor and Resident- Internal Medicine Muhimbili
                                    University (MUHAS)</h6>
                                <p class="mb-30">Project Director on Maternal and Child Health Education& Outreach
                                    programs</p>
                                
                                {% comment %}    
                                <ul
                                    class="social-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                                <a class="btn btn-theme-colored btn-sm pull-right flip"
                                    href="page-doctor-details.html">view details</a>
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-60 sm-text-center">
                        <div class="team maxwidth400">
                            <div class="thumb"><img class="img-fullwidth"
                                    src="{% static '/assets/images/team/judith.jpg' %}" alt=""></div>
                            <div class="content border-1px p-15 bg-white-light">
                                <h4 class="name mb-0 mt-0">Judica Christopher</h4>
                                <h6 class="title mt-0">Medical Doctor and Resident- Obstetrics & Gynecology Muhimbili
                                    University (MUHAS)</h6>
                                <p class="mb-30">Maternal and Child Health Advocate <span
                                        style="visibility:hidden;">Child Health Education& Outreach programs</span></p>
                               
                                
                                {% comment %}
                                    <ul
                                        class="social-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    <a class="btn btn-theme-colored btn-sm pull-right flip"
                                        href="page-doctor-details.html">view details</a>
                                {% endcomment %}
                                    
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-60 sm-text-center">
                        <div class="team maxwidth400">
                            <div class="thumb"><img class="img-fullwidth"
                                    src="{% static '/assets/images/team/dr_elizabeth.jpg' %}" alt=""></div>
                            <div class="content border-1px p-15 bg-white-light">
                                <h4 class="name mb-0 mt-0">Elizabeth Msangi</h4>
                                <h6 class="title mt-0">Medical Doctor and Resident- Internal Medicine Muhimbili
                                    University (MUHAS)</h6>
                                <p class="mb-30">Maternal and Child Health Advocate <span
                                        style="visibility:hidden;">Child Health Education& Outreach programs</span></p>
                                
                                
                                {% comment %}
                                <ul
                                    class="social-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                                <a class="btn btn-theme-colored btn-sm pull-right flip"
                                    href="page-doctor-details.html">view details</a>
                                {% endcomment %}
                                    
                            </div>
                        </div>
                    </div>

                </div>

                <!-- our partners -->
                <div class="row mt-30">
                    <div class="col-md-12">
                        <h4 class="mb-20">Our Partners</h4>
                        <div class="recent-project">
                            <div class="item"><img src="{% static '/assets/images/partners/3.jpg' %}" alt=""></div>
                            <!-- <div class="item"><img src="https://placehold.it/285x215" alt=""></div>
                            <div class="item"><img src="https://placehold.it/285x215" alt=""></div>
                            <div class="item"><img src="https://placehold.it/285x215" alt=""></div>
                            <div class="item"><img src="https://placehold.it/285x215" alt=""></div>
                            <div class="item"><img src="https://placehold.it/285x215" alt=""></div> -->
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    {% comment %}
    <!-- Section: Gallery -->
    <section class="bg-lighter">
        <div class="container pb-0">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-uppercase mt-0">Gallery</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 wow fadeInLeft animation-delay1">
                    <!-- Works Filter -->
                    <div class="portfolio-filter font-alt align-center">
                        <a href="#" class="active" data-filter="*">All</a>
                        <a href="#dental" class="" data-filter=".dental">Pregrant</a>
                        <a href="#surgery" class="" data-filter=".surgery">Children</a>
                        <a href="#laboratory" class="" data-filter=".laboratory">Women and children</a>
                    </div>
                    <!-- End Works Filter -->

                    <!-- Portfolio Gallery Grid -->
                    <div id="grid" class="gallery-isotope grid-4 gutter clearfix">
                        <!-- Portfolio Item Start -->
                        <div class="gallery-item dental">
                            <div class="thumb">
                                <img class="img-fullwidth" src="{% static '/assets/images/portfolio/1.jpg' %}"
                                    alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image"
                                                href="{% static '/assets/images/portfolio/1.jpg' %}"><i
                                                    class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item photography">
                            <div class="thumb">
                                <img class="img-fullwidth" src="{% static '/assets/images/portfolio/2.jpg' %}"
                                    alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image"
                                                href="{% static '/assets/images/portfolio/2.jpg' %}"><i
                                                    class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item photography">
                            <div class="thumb">
                                <img class="img-fullwidth" src="{% static '/assets/images/portfolio/3.jpg' %}"
                                    alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image"
                                                href="{% static '/assets/images/portfolio/3.jpg' %}"><i
                                                    class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item photography">
                            <div class="thumb">
                                <img class="img-fullwidth" src="{% static '/assets/images/portfolio/4.jpg' %}"
                                    alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image"
                                                href="{% static '/assets/images/portfolio/4.jpg' %}"><i
                                                    class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item surgery">
                            <div class="thumb">
                                <img class="img-fullwidth" src="{% static '/assets/images/portfolio/5.jpg' %}"
                                    alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image"
                                                href="{% static '/assets/images/portfolio/5.jpg' %}"><i
                                                    class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item photography">
                            <div class="thumb">
                                <img class="img-fullwidth" src="{% static '/assets/images/portfolio/6.jpg' %}"
                                    alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image"
                                                href="{% static '/assets/images/portfolio/6.jpg' %}"><i
                                                    class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item laboratory">
                            <div class="thumb">
                                <img class="img-fullwidth" src="{% static '/assets/images/portfolio/7.jpg' %}"
                                    alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image"
                                                href="{% static '/assets/images/portfolio/7.jpg' %}"><i
                                                    class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item photography">
                            <div class="thumb">
                                <img class="img-fullwidth" src="{% static '/assets/images/portfolio/8.jpg' %}"
                                    alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image"
                                                href="{% static '/assets/images/portfolio/8.jpg' %}"><i
                                                    class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item dental">
                            <div class="thumb">
                                <img class="img-fullwidth" src="{% static '/assets/images/portfolio/9.jpg' %}"
                                    alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image"
                                                href="{% static '/assets/images/portfolio/9.jpg' %}"><i
                                                    class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item photography">
                            <div class="thumb">
                                <img class="img-fullwidth" src="{% static '/assets/images/portfolio/10.jpg' %}"
                                    alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image"
                                                href="{% static '/assets/images/portfolio/10.jpg' %}"><i
                                                    class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item laboratory">
                            <div class="thumb">
                                <img class="img-fullwidth" src="{% static '/assets/images/portfolio/11.jpg' %}"
                                    alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image"
                                                href="{% static '/assets/images/portfolio/11.jpg' %}"><i
                                                    class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item surgery">
                            <div class="thumb">
                                <img class="img-fullwidth" src="{% static '/assets/images/portfolio/12.jpg' %}"
                                    alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image"
                                                href="{% static '/assets/images/portfolio/12.jpg' %}"><i
                                                    class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                    </div>
                    <!-- End Portfolio Gallery Grid -->
                </div>
            </div>
        </div>
    </section>
    {% endcomment %}
    <!-- Section: News -->
    <section>
        <div class="container pb-110">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-uppercase mt-0">News &amp; updates</h2>
                    </div>
                </div>
            </div>

            <div class="section-content">
                <div class="row multi-row-clearfix">
                    <div class="blog-posts">
                        {% for object in objects %}
                        <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInLeft animation-delay1">
                            <article class="post style1 clearfix maxwidth500">
                                <div class="col-md-4 p-0">
                                    <div class="entry-header">
                                        <div class="post-thumb">
                                            <img src="/media/{{object.cover_photo}}" alt=""
                                                class="img-responsive img-fullwidth">
                                        </div>
                                        <div class="entry-date entry-date-absolute">
                                            {{object.date_posted|date:"d"}}
                                            <span>
                                                {{object.date_posted|date:"M"}}
                                            </span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="entry-content pl-50 p-20 pt-30 pr-20">
                                        <h5 class="entry-title pt-0"><a href="#">{{object.title}}</a></h5>
                                        {{ object.content|safe|slice:":230" }}
                                        {% if object.content|length > 230 %}....{% endif %}
                                        <div class="entry-meta pull-left flip mt-10">

                                        </div>
                                        {% if object.content|length > 230 %}
                                        <a class="text-theme-colored mt-10 mb-0 pull-right flip"
                                            href="{% url 'home:artical' object.id %}">Read more <i
                                                class="fa fa-angle-double-right"></i></a>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% comment %}
    <section class=" inner-header divider layer-overlay overlay-deep"
        data-bg-img="{% static '/assets/images/bg/bg5.jpg' %}">
        <div class="container pt-90 pb-50">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                        <div class="funfact text-center">
                            <a href="#"> <i class="icon-heart36 text-theme-colored font-60"></i></a>
                            <h5 class="number text-theme-colored font-32">19100+
                            </h5>
                            <h6 class="title text-gray font-16">Happy Patients</h6>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                        <div class="funfact text-center">
                            <a href="#"> <i class="icon-medical51 text-theme-colored font-60"></i></a>
                            <h5 class="number text-theme-colored font-32">129</h5>
                            <h6 class="title text-gray font-16">Qualified Doctors
                            </h6>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                        <div class="funfact text-center">
                            <a href="#"> <i class="icon_building text-theme-colored font-60"></i></a>
                            <h5 class="number text-theme-colored font-32">850+</h5>
                            <h6 class="title text-gray font-16">Clinic Rooms</h6>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                        <div class="funfact text-center">
                            <a href="#"> <i class="icon_gift_alt text-theme-colored font-60"></i></a>
                            <h5 class="number text-theme-colored font-32">456</h5>
                            <h6 class="title text-gray font-16">Awards Won</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endcomment %}

</div>
<!-- end main-content -->


{% endblock content %}