{% load static %}
<footer class="footer p-0 bg-solid-color bg-black-111">
    <div class="container">

    </div>
    <div class="footer-nav bg-black-222 p-20">
        <div class="container pt-20 pb-0">
            <div class="row">
                <div class="col-md-12">
                    <p class="font-12 mb-sm-15 text-center">Copyright &copy;<?=date('Y');?> afyaconnect. All Rights
                        Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
<script src="{% static 'assets/js/custom.js' %}"></script>

<script type="text/javascript"
    src="{% static 'assets/js/revolution-slider/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/js/revolution-slider/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/js/revolution-slider/js/extensions/revolution.extension.video.min.js' %}"></script>