{% extends 'master/base.html' %}
{% load static %}


{% block content %}
<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay overlay-deep"
        data-bg-img="{% static 'assets/images/bg/doctor_bg01.jpg' %}">

        <div class="container pt-90 pb-50">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 xs-text-center">
                        <h3 class="font-28">Doctor Details</h3>
                        <ol class="breadcrumb white mt-10">
                            <li><a href="{% url 'home:home'  %}">Home</a></li>
                            <li class="active text-theme-colored">Our team</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Doctor Details -->
    <section class="">
        <div class="container">
            <!-- user .start -->
            <div class="section-content wow fadeInLeft animation-delay1">

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 pull-right pl-60 pl-sm-15">
                        <div>
                            <h3>Joseph Assenga</h3>
                            <h5 class="text-theme-colored">Founder and Team Lead</h5>
                            <p>
                                Doctor of Medicine, Watson Institute Alumnus, Maternal and Child Health Advocate.
                            </p>
                        </div>

                        {% comment %}
                        <div class="mt-30">
                            <dl class="dl-horizontal doctor-info">

                                <dt>Education</dt>
                                <dd>
                                    <ul class="list theme-colored angle-double-right m-0">
                                        <li class="mt-0">Doctor of Medicine, University of Texas, USA (1990)</li>
                                        <li>Medical Orientation Program, St. Louis University (St. Louis, Missouri 1996)
                                        </li>
                                    </ul>
                                </dd>
                                <hr>
                                <dt>Experience</dt>
                                <dd>
                                    25 years of Experience in Medicine
                                </dd>

                                <hr>
                                <dt>Address</dt>
                                <dd>
                                    Suite 27, Medical Centre, The Sunshine Coast Private Hospital, QLD 4556
                                </dd>
                                <hr>
                                <dt>Phone</dt>
                                <dd>
                                    0653 *** ***
                                </dd>
                                <hr>
                                <dt>Email</dt>
                                <dd>
                                    myemail@yourdomain.com
                                </dd>

                            </dl>
                        </div>
                        {% endcomment %}

                    </div>

                    <div class="col-sx-12 col-sm-4 col-md-4 sidebar pull-left">
                        <div class="doctor-thumb">
                            <img src="{% static 'assets/images/team/dr_assenga.jpg' %}" alt="">
                        </div>

                        {% comment %}
                        <ul class="social-icons icon-gray mt-15 mb-15">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                        {% endcomment %}

                    </div>
                </div>

            </div>
            <!-- user ./end -->
            <hr>
            <!-- user .start -->
            <div class="section-content wow fadeInLeft animation-delay1">

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 pull-right pl-60 pl-sm-15">
                        <div>
                            <h3>Godson Mbeikya</h3>
                            <h5 class="text-theme-colored">Co-Founder and Director of operations</h5>
                            <p>
                                Doctor of Medicine, Entrepreneur, Maternal and Child Health Advocate
                            </p>
                        </div>

                    </div>

                    <div class="col-sx-12 col-sm-4 col-md-4 sidebar pull-left">
                        <div class="doctor-thumb">
                            <img src="{% static 'assets/images/team/dr_godson.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

            </div>
            <!-- user ./end -->
            <hr>


            {% comment %}
            <!-- user .start -->
            <div class="section-content wow fadeInLeft animation-delay1">

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 pull-right pl-60 pl-sm-15">
                        <div>
                            <h3>Daniel Lyatuu</h3>
                            <h5 class="text-theme-colored">Software developerCTO for Afyaconnect</h5>
                        </div>
                    </div>

                    <div class="col-sx-12 col-sm-4 col-md-4 sidebar pull-left">
                        <div class="doctor-thumb">
                            <img src="{% static 'assets/images/team/shadow-user.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

            </div>
            <!-- user ./end -->
            <hr>
            {% endcomment %}


            <!-- user .start -->
            <div class="section-content wow fadeInLeft animation-delay1">

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 pull-right pl-60 pl-sm-15">
                        <div>
                            <h3>Hellen Koka</h3>
                            <h5 class="text-theme-colored">Chief Financial Officer</h5>

                        </div>
                    </div>

                    <div class="col-sx-12 col-sm-4 col-md-4 sidebar pull-left">
                        <div class="doctor-thumb">
                            <img src="{% static 'assets/images/team/hellen.jpg' %}" alt="">
                        </div>

                    </div>
                </div>

            </div>
            <!-- user ./end -->

            <hr>
            <!-- user .start -->
            <div class="section-content wow fadeInLeft animation-delay1">

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 pull-right pl-60 pl-sm-15">
                        <div>
                            <h3>Herieth Hyera</h3>
                            <h5 class="text-theme-colored">Medical Doctor and Resident- Internal Medicine Muhimbili
                                University (MUHAS)</h5>
                            <p>
                                Project Director on Maternal and Child Health Education& Outreach programs
                            </p>
                        </div>

                    </div>

                    <div class="col-sx-12 col-sm-4 col-md-4 sidebar pull-left">
                        <div class="doctor-thumb">
                            <img src="{% static 'assets/images/team/herieth.jpg' %}" alt="">
                        </div>

                    </div>
                </div>

            </div>
            <!-- user ./end -->

            <hr>
            <!-- user .start -->
            <div class="section-content wow fadeInLeft animation-delay1">

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 pull-right pl-60 pl-sm-15">
                        <div>
                            <h3>Judica Christopher</h3>
                            <h5 class="text-theme-colored">Medical Doctor and Resident- Obstetrics & Gynecology
                                Muhimbili University (MUHAS)</h5>

                        </div>

                    </div>

                    <div class="col-sx-12 col-sm-4 col-md-4 sidebar pull-left">
                        <div class="doctor-thumb">
                            <img src="{% static 'assets/images/team/judith.jpg' %}" alt="">
                        </div>

                    </div>
                </div>

            </div>
            <!-- user ./end -->

        </div>
    </section>
</div>
<!-- end main-content -->
{% endblock %}